@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Dit.Umb9.Mutobo.ToolBox.Models.Pages.ShopOverViewPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "WCBasePage.cshtml";
}
<base-o-body page-background-img="@Model.PageBackground?.BackgroundImage?.DefaultSource?.Src" page-bg-opacity="@Model.PageBackground?.BackgroundOpacity">
    <base-c-basket>
        @await Html.PartialAsync("~/Views/Partials/ArticleContent.cshtml", Model)
        <div class="spacer"></div>
        @if (Model.Modules != null && Model.Modules.Any())
        {
            foreach (var module in Model.Modules)
            {
                if (module.SpaceBeforeModule)
                {
                    <div class="spacer"></div>
                }

                @await module.RenderModule(this.Html)

                if (module.SpacerAfterModule)
                {
                    <div class="spacer"></div>
                }
            }
        }

        <third-party-macro-carousel loop namespace="carousel-" interval="5000">
            <style>

                .product-teaser {
                    display: flex;
                    flex-direction: column;
                    background: rgba(0,0,0,0.3);
                    width: 100%;
                    margin: 0;
                }
            </style>
            @foreach (var product in Model.Products)
            {
                <div class="product-teaser">
                    <h5>@product.PageTitle</h5>
                    @product.EmotionImages?.FirstOrDefault()?.RenderWcPictureTag(height: "auto")
                    <article>
                        @product.Abstract
                    </article>
                    <a href="@product.Content.Url()">Mehr erfahren</a>
                    <base-o-order-button product-id="@product.Content.AsGuid()"></base-o-order-button>
                </div>
            }
        </third-party-macro-carousel>

        <div class="spacer"></div>

        <base-o-wrapper three>
            <style>
                :host, host * {
                    background-color: transparent !important;
                }

                .product-card {
                    height: 30vw;
                    background: rgba(0,0,0,0.3);
                    margin-bottom: 2em;
                    align-items: center;
                 
                }

            </style>

            @foreach (var product in Model.Products)
            {

                    <div class="product-card">
                        <h5>@product.PageTitle</h5>
                        @product.EmotionImages?.FirstOrDefault()?.RenderWcPictureTag(height: "auto")
                        <article>
                            @product.Abstract
                        </article>
                        <a href="@product.Content.Url()">Mehr erfahren</a>
                        <base-o-order-button product-id="@product.Content.AsGuid()"></base-o-order-button>
                    </div>

            }

        </base-o-wrapper>
    </base-c-basket>
</base-o-body>
