
@using Dit.Umb9.Mutobo.ToolBox.Enum
@using Dit.Umb9.Mutobo.ToolBox.Interfaces
@using Dit.Umb9.Mutobo.ToolBox.Modules
@using Dit.Umb9.Mutobo.ToolBox.Models.PoCo

@model Dit.Umb9.Mutobo.ToolBox.Models.Pages.ArticlePage

<div>
    @if (!string.IsNullOrEmpty(Model.PageTitle))
    {
        <h2>@Model.PageTitle.ToUpper()</h2>
    }
    @if (Model.EmotionImages != null && Model.EmotionImages.Any())
    {
        if (Model.EmotionImages.Count() < 2)
        {
            var image = Model.EmotionImages.FirstOrDefault();

            if (image != null)
            {
                @image.RenderWcPictureTag()
            }
        }
@*        else
        {

            @Html.Partial("~/Views/Partials/Slider.cshtml", new EmptySliderComponent()
            {
                Slides = Model.EmotionImages,
                GalleryType = EGalleryType.Boxed,
                Width = 800,
                Height = 450,
            })
            ;
        }*@
    }
    @if (!Model.HideAbstract && !string.IsNullOrEmpty(Model.Abstract))
    {
        <p>@Model.Abstract</p>
    }
    @if (!string.IsNullOrEmpty(Model.MainContent))
    {
        <div>
            @Html.Raw(Model.MainContent)
        </div>
    }
</div>

